.main {
    padding: 0;
    display: block;
}
.selector {
    width: 100%;
    display: flex;
    border-bottom: 1px solid #eee;
    .select {
        cursor: pointer;
        width: 25%;
        width: calc(100% / 3);
        border-right: 1px solid #eee;
        padding: 10px;
        display: flex;
        justify-content: center;
        p {
            margin: 0;
        }
        .select_icon {
            width: 24px;
            height: 24px;
            scale: .8;
            margin-right: 2px;
        }
        .select_icon_post {
            background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20class%3D%22icon%20icon-tabler%20icon-tabler-align-left%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20stroke-width%3D%221.5%22%20stroke%3D%22%23000000%22%20fill%3D%22none%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%3E%20%3Cpath%20stroke%3D%22none%22%20d%3D%22M0%200h24v24H0z%22%20fill%3D%22none%22%2F%3E%20%3Cline%20x1%3D%224%22%20y1%3D%226%22%20x2%3D%2220%22%20y2%3D%226%22%20%2F%3E%20%3Cline%20x1%3D%224%22%20y1%3D%2212%22%20x2%3D%2214%22%20y2%3D%2212%22%20%2F%3E%20%3Cline%20x1%3D%224%22%20y1%3D%2218%22%20x2%3D%2218%22%20y2%3D%2218%22%20%2F%3E%3C%2Fsvg%3E')
        }
        .select_icon_image {
            background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20class%3D%22icon%20icon-tabler%20icon-tabler-photo%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20stroke-width%3D%221.5%22%20stroke%3D%22%23000000%22%20fill%3D%22none%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%3E%20%3Cpath%20stroke%3D%22none%22%20d%3D%22M0%200h24v24H0z%22%20fill%3D%22none%22%2F%3E%20%3Cline%20x1%3D%2215%22%20y1%3D%228%22%20x2%3D%2215.01%22%20y2%3D%228%22%20%2F%3E%20%3Crect%20x%3D%224%22%20y%3D%224%22%20width%3D%2216%22%20height%3D%2216%22%20rx%3D%223%22%20%2F%3E%20%3Cpath%20d%3D%22M4%2015l4%20-4a3%205%200%200%201%203%200l5%205%22%20%2F%3E%20%3Cpath%20d%3D%22M14%2014l1%20-1a3%205%200%200%201%203%200l2%202%22%20%2F%3E%3C%2Fsvg%3E')
        }
        .select_icon_url {
            background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20class%3D%22icon%20icon-tabler%20icon-tabler-link%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20stroke-width%3D%221.5%22%20stroke%3D%22%23000000%22%20fill%3D%22none%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%3E%20%3Cpath%20stroke%3D%22none%22%20d%3D%22M0%200h24v24H0z%22%20fill%3D%22none%22%2F%3E%20%3Cpath%20d%3D%22M10%2014a3.5%203.5%200%200%200%205%200l4%20-4a3.5%203.5%200%200%200%20-5%20-5l-.5%20.5%22%20%2F%3E%20%3Cpath%20d%3D%22M14%2010a3.5%203.5%200%200%200%20-5%200l-4%204a3.5%203.5%200%200%200%205%205l.5%20-.5%22%20%2F%3E%3C%2Fsvg%3E')
        }
        .select_icon_code {
            background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20class%3D%22icon%20icon-tabler%20icon-tabler-code%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20stroke-width%3D%221.5%22%20stroke%3D%22%23000000%22%20fill%3D%22none%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%3E%20%3Cpath%20stroke%3D%22none%22%20d%3D%22M0%200h24v24H0z%22%20fill%3D%22none%22%2F%3E%20%3Cpolyline%20points%3D%227%208%203%2012%207%2016%22%20%2F%3E%20%3Cpolyline%20points%3D%2217%208%2021%2012%2017%2016%22%20%2F%3E%20%3Cline%20x1%3D%2214%22%20y1%3D%224%22%20x2%3D%2210%22%20y2%3D%2220%22%20%2F%3E%3C%2Fsvg%3E')
        }
    }
    .select:last-child:not(.select_active) {
        border: none;
    }
    .select_active {
        color: #0070f3;
        border-bottom: 2px solid #0070f3;
        .select_icon_post {
            background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20class%3D%22icon%20icon-tabler%20icon-tabler-align-left%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20stroke-width%3D%221.5%22%20stroke%3D%22%230070f3%22%20fill%3D%22none%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%3E%20%3Cpath%20stroke%3D%22none%22%20d%3D%22M0%200h24v24H0z%22%20fill%3D%22none%22%2F%3E%20%3Cline%20x1%3D%224%22%20y1%3D%226%22%20x2%3D%2220%22%20y2%3D%226%22%20%2F%3E%20%3Cline%20x1%3D%224%22%20y1%3D%2212%22%20x2%3D%2214%22%20y2%3D%2212%22%20%2F%3E%20%3Cline%20x1%3D%224%22%20y1%3D%2218%22%20x2%3D%2218%22%20y2%3D%2218%22%20%2F%3E%3C%2Fsvg%3E')
        }
        .select_icon_image {
            background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20class%3D%22icon%20icon-tabler%20icon-tabler-photo%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20stroke-width%3D%221.5%22%20stroke%3D%22%230070f3%22%20fill%3D%22none%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%3E%20%3Cpath%20stroke%3D%22none%22%20d%3D%22M0%200h24v24H0z%22%20fill%3D%22none%22%2F%3E%20%3Cline%20x1%3D%2215%22%20y1%3D%228%22%20x2%3D%2215.01%22%20y2%3D%228%22%20%2F%3E%20%3Crect%20x%3D%224%22%20y%3D%224%22%20width%3D%2216%22%20height%3D%2216%22%20rx%3D%223%22%20%2F%3E%20%3Cpath%20d%3D%22M4%2015l4%20-4a3%205%200%200%201%203%200l5%205%22%20%2F%3E%20%3Cpath%20d%3D%22M14%2014l1%20-1a3%205%200%200%201%203%200l2%202%22%20%2F%3E%3C%2Fsvg%3E')
        }
        .select_icon_url {
            background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20class%3D%22icon%20icon-tabler%20icon-tabler-link%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20stroke-width%3D%221.5%22%20stroke%3D%22%230070f3%22%20fill%3D%22none%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%3E%20%3Cpath%20stroke%3D%22none%22%20d%3D%22M0%200h24v24H0z%22%20fill%3D%22none%22%2F%3E%20%3Cpath%20d%3D%22M10%2014a3.5%203.5%200%200%200%205%200l4%20-4a3.5%203.5%200%200%200%20-5%20-5l-.5%20.5%22%20%2F%3E%20%3Cpath%20d%3D%22M14%2010a3.5%203.5%200%200%200%20-5%200l-4%204a3.5%203.5%200%200%200%205%205l.5%20-.5%22%20%2F%3E%3C%2Fsvg%3E')
        }
        .select_icon_code {
            background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20class%3D%22icon%20icon-tabler%20icon-tabler-code%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20stroke-width%3D%221.5%22%20stroke%3D%22%230070f3%22%20fill%3D%22none%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%3E%20%3Cpath%20stroke%3D%22none%22%20d%3D%22M0%200h24v24H0z%22%20fill%3D%22none%22%2F%3E%20%3Cpolyline%20points%3D%227%208%203%2012%207%2016%22%20%2F%3E%20%3Cpolyline%20points%3D%2217%208%2021%2012%2017%2016%22%20%2F%3E%20%3Cline%20x1%3D%2214%22%20y1%3D%224%22%20x2%3D%2210%22%20y2%3D%2220%22%20%2F%3E%3C%2Fsvg%3E')
        }
    }
}
.main_ {
    min-height: 50px;
}
.main__ {
    display: block;
    padding: 15px;
    .input_title {
        width: 100%;
        height: 35px;
        font-size: 18px;
        padding-left: 10px;
        border: 1px solid #eee;
        margin-bottom: 10px;
        color: #555;
        outline: none;
        border-radius: 5px;
    }
    .input_title:focus-visible {
        outline: 1px solid #eee;
    }
    .input_body {
        padding: 5px;
        resize: none;
        border: 1px solid #eee;
        border-radius: 5px;
        width: 100%;
        height: 300px;
        font-size: 14px;
        color: #555;
        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    }
    .input_body:focus-visible {
        outline: 1px solid #eee;
    }
    .input_file::-webkit-file-upload-button {
        visibility: hidden;
    }
    .input_file {
        border: 1px solid #eee;
        border-radius: 5px;
        width: 100%;
        height: 100px;
        position: relative;
        color: #fff;
        background-color: #fff;
        cursor: pointer;
    }
    .input_file_ {
        pointer-events: none;
        position: relative;
        width: 100%;
        .input_file__ {
            width: 100%;
            position: absolute;
            bottom: 30px;
            display: flex;
            div {
                display: flex;
                margin: 0 auto;
                p.active {
                    color: #00b341;
                }
                button {
                    cursor: pointer;
                    height: fit-content;
                    padding: 6px 12px;
                    margin: 5px;
                    margin-left: 12px;
                    color: #0070f3;
                    border: 1px solid #0070f3;
                    border-radius: 20px;
                    position: relative;
                    display: flex;
                    top: 9px;
                    background-color: #fff;
                }
                .logo {
                    position: relative;
                    top: 15px;
                    margin-right: 5px;
                    width: 24px;
                    height: 24px;
                    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20class%3D%22icon%20icon-tabler%20icon-tabler-file-upload%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20stroke-width%3D%221.5%22%20stroke%3D%22%2300b341%22%20fill%3D%22none%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%3E%20%3Cpath%20stroke%3D%22none%22%20d%3D%22M0%200h24v24H0z%22%20fill%3D%22none%22%2F%3E%20%3Cpath%20d%3D%22M14%203v4a1%201%200%200%200%201%201h4%22%20%2F%3E%20%3Cpath%20d%3D%22M17%2021h-10a2%202%200%200%201%20-2%20-2v-14a2%202%200%200%201%202%20-2h7l5%205v11a2%202%200%200%201%20-2%202z%22%20%2F%3E%20%3Cline%20x1%3D%2212%22%20y1%3D%2211%22%20x2%3D%2212%22%20y2%3D%2217%22%20%2F%3E%20%3Cpolyline%20points%3D%229%2014%2012%2011%2015%2014%22%20%2F%3E%3C%2Fsvg%3E')
                }
            }
        }
    }
}

.submit {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    border-top: 1px solid #eee;
    button {
        cursor: pointer;
        padding: 8px 20px;
        border: none;
        outline: none;
        background-color: #0070f3;
        color: #fff;
        border-radius: 20px;
        font-weight: bold;
    }
    .enable {
        background-color: #0070f3;
        color: #fff;
    }
    .disable {
        background-color: #888;
        color: #bbb;
    }
    .submit_loading {
        color: #00b341;
        margin: 0 10px;
    }
    .submit_error {
        color: #f30032;
        margin: 0 10px;
    }
}