.post {
    padding-right: 5px;
}
.sort {
    overflow-x: auto;
}
.sortType {
    cursor: pointer;
    padding: 2px 12px 2px 5px;
    margin: 5px;
    color: #0070f3;
    border: 1px solid #0070f3;
    border-radius: 20px;
    position: relative;
    display: flex;
    .sortType_ {
        position: relative;
        bottom: 2px
    }
    .logo {
        width: 21px;
        height: 21px;
        background-repeat: no-repeat;
        background-position: center;
    }
    .bolt {
        background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20class%3D%22icon%20icon-tabler%20icon-tabler-bolt%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2024%2024%22%20stroke-width%3D%221.5%22%20stroke%3D%22%230070f3%22%20fill%3D%22none%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%3E%20%3Cpath%20stroke%3D%22none%22%20d%3D%22M0%200h24v24H0z%22%20fill%3D%22none%22%2F%3E%20%3Cpolyline%20points%3D%2213%203%2013%2010%2019%2010%2011%2021%2011%2014%205%2014%2013%203%22%20%2F%3E%3C%2Fsvg%3E');
    }
    .trending {
        background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20class%3D%22icon%20icon-tabler%20icon-tabler-trending-up%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2024%2024%22%20stroke-width%3D%221.5%22%20stroke%3D%22%230070f3%22%20fill%3D%22none%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%3E%20%3Cpath%20stroke%3D%22none%22%20d%3D%22M0%200h24v24H0z%22%20fill%3D%22none%22%2F%3E%20%3Cpolyline%20points%3D%223%2017%209%2011%2013%2015%2021%207%22%20%2F%3E%20%3Cpolyline%20points%3D%2214%207%2021%207%2021%2014%22%20%2F%3E%3C%2Fsvg%3E');
    }
    .image {
        background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20class%3D%22icon%20icon-tabler%20icon-tabler-photo%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2024%2024%22%20stroke-width%3D%221.5%22%20stroke%3D%22%230070f3%22%20fill%3D%22none%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%3E%20%3Cpath%20stroke%3D%22none%22%20d%3D%22M0%200h24v24H0z%22%20fill%3D%22none%22%2F%3E%20%3Cline%20x1%3D%2215%22%20y1%3D%228%22%20x2%3D%2215.01%22%20y2%3D%228%22%20%2F%3E%20%3Crect%20x%3D%224%22%20y%3D%224%22%20width%3D%2216%22%20height%3D%2216%22%20rx%3D%223%22%20%2F%3E%20%3Cpath%20d%3D%22M4%2015l4%20-4a3%205%200%200%201%203%200l5%205%22%20%2F%3E%20%3Cpath%20d%3D%22M14%2014l1%20-1a3%205%200%200%201%203%200l2%202%22%20%2F%3E%3C%2Fsvg%3E')
    }
}
.create {
    display: flex;
    width: 100%;
    .icon {
        margin-right: 5px;
        border: 2px solid #eee;
        border-radius: 100%;
        width: 42px;
        height: 42px;
        .icon_ {
            border-radius: 100%;
            width: 42px !important;
            height: 42px !important;
        }
    }
    .input {
        width: calc(100% - 42px);
        .input_ {
            border: 1px solid #eee;
            height: 40px;
            width: 100%;
            border-radius: 5px;
            outline: none;
            padding-left: 10px;
        }
    }
}
.loading {
    width: 80%;
    max-width: 500px;
    color: #444;
    p {
        display: flex;
        justify-content: center;
    }
}

.loader {
    border: 1px solid #eee;
    margin: 15px auto;
    border-radius: 5px;
    width: 80%;
    height: 150px;
    max-width: 500px;
    background-color: rgb(255, 255, 255);
}